doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title || 'LocalBites'
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
  body
    nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
        a.navbar-brand(href='/') LocalBites
        #navbarMain.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/auth/about') About
            li.nav-item
              a.nav-link(href='/auth/register') Register
            li.nav-item
              a.nav-link(href='/auth/login') Login
            li.nav-item
              a.nav-link(href='/auth/search') Search
    .container
      if message
        .alert.alert-info.alert-dismissible(role='alert')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
          | #{message}
      block content
    footer
      .row
        .col-12
          small &copy; LocalBites 2024
