extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12
      form(action=`/locations/${location._id}/review` method='post')
        .form-group
          label(for='reviewText') Your Review
          textarea.form-control(name='reviewText', required='')
        .form-group
          label(for='rating') Rating
          select.form-control(name='rating', required='')
            option(value='1') 1 Star
            option(value='2') 2 Stars
            option(value='3') 3 Stars
            option(value='4') 4 Stars
            option(value='5') 5 Stars
        button.btn.btn-primary(type='submit') Submit Review
