extends layout 

block content
  .container.text-center
    h1 Are you sure you want to logout?
    a.btn.btn-danger(href='/auth/logout/confirm') Yes, Logout
    a.btn.btn-secondary(href='/') No, Go Back
