extends layout

block content
  .container.text-center
    h1 Welcome, 
      span(style="font-weight: bold;") #{username}!
    p Welcome To LocalBites.
    p Explore and enjoy our services!
    a.btn.btn-primary(href='/auth/logout') Logout
